*{
  padding: 0;
  box-sizing: border-box;
}

.game-board{
  width: 300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.square{
  border: black 1px solid;
  height: 100px;
  width: 100px
}